[submodule "3rd-party/pfd"]
	path = 3rd-party/pfd
	url = https://github.com/samhocevar/portable-file-dialogs
	branch = master
[submodule "3rd-party/ImGuizmo"]
	path = 3rd-party/ImGuizmo
	url = https://github.com/indigames/ImGuizmo.git
	branch = dev-ige
[submodule "libs/igeScene"]
	path = libs/igeScene
	url = https://github.com/indigames/igeScene
    branch = dev
[submodule "3rd-party/imgui"]
	path = 3rd-party/imgui
	url = https://github.com/indigames/imgui
    branch = docking
[submodule "3rd-party\\soloud"]
	path = 3rd-party\\soloud
	url = https://github.com/jarikomppa/soloud
