[submodule "3rd-party/pfd"]
	path = 3rd-party/pfd
	url = git@github.com:samhocevar/portable-file-dialogs.git
	branch = master
[submodule "3rd-party/ImGuizmo"]
	path = 3rd-party/ImGuizmo
	url = git@github.com:indigames/ImGuizmo.git
	branch = dev-ige
[submodule "3rd-party/imgui"]
	path = 3rd-party/imgui
	url = git@github.com:indigames/imgui.git
	branch = docking
[submodule "3rd-party/imgui-node-editor"]
	path = 3rd-party/imgui-node-editor
	url = git@github.com:indigames/imgui-node-editor.git
	branch = develop
[submodule "app/toolchains"]
	path = app/toolchains
	url = git@github.com:indigames/igeBuilder
