[submodule "3rd-party/pfd"]
	path = 3rd-party/pfd
	url = git@github.com:samhocevar/portable-file-dialogs.git
	branch = master
[submodule "3rd-party/ImGuizmo"]
	path = 3rd-party/ImGuizmo
	url = git@github.com:indigames/ImGuizmo.git
	branch = dev-ige
[submodule "3rd-party/imgui"]
	path = 3rd-party/imgui
	url = git@github.com:indigames/imgui.git
	branch = docking
[submodule "libs/igeScene"]
	path = libs/igeScene
	url = git@github.com:indigames/igeScene.git
	branch = ige-dev
[submodule "libs/pyxCore"]
	path = libs/pyxCore
	url = git@github.com:indigames/pyxCore.git
	branch = master
[submodule "libs/igeVMath"]
	path = libs/igeVMath
	url = git@github.com:indigames/igeVMath.git
	branch = master
[submodule "libs/igeCore"]
	path = libs/igeCore
	url = git@github.com:indigames/igeCore.git
	branch = master
